# Dependencies
/node_modules

# Build output
/dist

# Env files
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
.npm
.eslintcache
